In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn import preprocessing

In [3]:
#read from the csv file and return a Pandas DataFrame.
nba = pd.read_csv('nba_2013.csv')

In [4]:
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [37]:
headers = list(nba.columns.values)

In [43]:
headers

['player',
 'pos',
 'age',
 'bref_team_id',
 'g',
 'gs',
 'mp',
 'fg',
 'fga',
 'fg.',
 'x3p',
 'x3pa',
 'x3p.',
 'x2p',
 'x2pa',
 'x2p.',
 'efg.',
 'ft',
 'fta',
 'ft.',
 'orb',
 'drb',
 'trb',
 'ast',
 'stl',
 'blk',
 'tov',
 'pf',
 'pts',
 'season',
 'season_end']

In [38]:
# column selection to split the data into features and class.
feature_columns = ['fg','x3p','x2p','ft','orb','drb','ast','stl','blk','tov','pf']

In [39]:
nba_feature = nba[feature_columns]
nba_class = nba['pos']

In [40]:
# normalizing the values in the feature columns.
# When values are scaled between 0 to 1, all of the selected features contribute equally to distance computation
normalized_nba_feature = preprocessing.normalize(nba_feature)

In [41]:
train_feature, test_feature, train_class, test_class = train_test_split(normalized_nba_feature, nba_class, stratify=nba_class, test_size=0.2,random_state=50)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [42]:
knn = KNeighborsClassifier(n_neighbors=3, weights='distance',  metric='minkowski', p=1)
knn.fit(train_feature, train_class)
prediction = knn.predict(test_feature)

NameError: name 'train_feature' is not defined

In [44]:
print("Test set accuracy: {:.2f}".format(knn.score(test_feature, test_class)))

NameError: name 'test_feature' is not defined